@model Event
@{
    ViewBag.Title = "Centennial College Crisis Management System";
    Layout = "_CMNavLayout";
}


<div class="bg-danger rounded text-center py-5 mb-4 my-2">
    <div class="container">
        <h1 class="font-weight-bold text-white">@Model.EventName</h1>
        <p class="overflow-hidden text-white">
            @Model.EventDescr
        </p>
    </div>
</div>

<div>
    <table class="table-responsive-sm float-right ">
        <tr>
            <td>
                <form>
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-eventID="@Model.EventID">
                        Edit
                    </a>

                    <a asp-action="Delete" class="btn btn-danger btn-sm"
                       asp-route-eventID="@Model.EventID">
                        Delete
                    </a>
                    <a asp-action="FireEvent" class="btn btn-danger btn-sm"
                       asp-route-eventID="@Model.EventID">
                        Activate Alerts for Event
                    </a>


                </form>
            </td>
        </tr>
    </table>
    <br />


    <div class="table-responsive-sm">
        <table class="table table-bordered">
            <tr>
                <th>Event Name</th>
                <td>@Model.EventName</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Model.EventDescr</td>
            </tr>
            <tr>
                <th>Respondent Information</th>
                <td>@Model.RespondentMetaInfo</td>
            </tr>
            
        </table>
    </div>

</div>



